<mat-toolbar color="primary">
  <span>Angular CRUD using Material UI</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add Student</button>
</mat-toolbar>

  <h1 class ="App-header">Angular CRUD Table</h1>

<div class="container">
  <div style ="margin-top: 10px;">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>>
          <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="Gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
        </ng-container>

         <!-- Grade Column -->
         <ng-container matColumnDef="Grade">
          <th mat-header-cell *matHeaderCellDef> Grade </th>
          <td mat-cell *matCellDef="let element"> {{element.Grade}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="updateStudent(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click) ="deletingStudent(element.Student_Id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
